<div class="container my-5 d-flex justify-content-center align-items-center">
    <div class="card" style="width: 50rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img src="../../../../../assets/img/gmail.png" alt="" style="width: 2rem;" class="me-2">
            @gmail Kullanıcı Sayısı: 
          </li>
          <li class="list-group-item">
            <img src="../../../../../assets/img/outlook.png" alt="" style="width: 2rem;" class="me-2">
            @hotmail Kullanıcı Sayısı:
          </li>
          <li class="list-group-item">
            <img src="../../../../../assets/img/yahoo.png" alt="" style="width: 2rem;" class="me-2">
            @yahoo Kullanıcı Sayısı:
          </li>
        </ul>
        <div class="card-footer">
            Total Kullanıcı Sayısı: {{ userData.length }}
        </div>
      </div>
</div>